:root {
    --header-color: #759aab;
    --secondary-color: #ff8c42;
    --text-color: #033860;
    --background-color: #FFFFF2;

    --roboto: "Roboto", sans-serif;
    --fira: "Fira Sans", sans-serif;
}

* {
    margin: 0;
}

h1,
h2 {
    font-family: var(--fira);
    font-weight: 100;
    color: var(--text-color);
}

p {
    font-family: var(--roboto);
    font-weight: 400;
}

a {
    text-decoration: none;
    font-family: var(--fira);
    color: var(--text-color);
    color: var(--background-color);
}

body {
    background-color: var(--background-color);
    max-width: 80%;
    margin: 0% 10% 1% 10%;
}

.logo-container {
    margin: 20px;
}

.logo-image {
    width: 180px;
}

header {
    background-color: var(--header-color);
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 20px;
}

.header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.image-hero {
    position: absolute;
    z-index: -1;
    width: 80%;
}

.hero-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;
}
.hero-container h1{
    text-align: center;
    background-color: #759aab94;
    color: var(--background-color);
    padding: 1em;
    font-size: 3em;

}

.hero-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #ff8a4281;
}

.hero-article img {
    order: 1;
    justify-self: center;
    align-self: center;
    width: 30vw;
}

.hero-article p{
    color: var(--background-color);
    font-size: large;
}

.history-section {
    background-color: var(--header-color);
    padding: 2em 1.5em;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-section-title {
    font-size: 2em;
    color: var(--background-color);
    padding-bottom: 0.5em;
}


.socialmedia-links img{
    width: 50px;
}