/* GENERAL LAYOUT STYLING*/
:root {
    --header-color: #759aab;
    --secondary-color: #ff8c42;
    --text-color: #033860;
    --background-color: #FFFFF2;

    --roboto: "Roboto", sans-serif;
    --fira: "Fira Sans", sans-serif;
}

* {
    margin: 0;
}

h1,
h2 {
    font-family: var(--fira);
    font-size: 2.8vw;
    font-weight: 500;
    color: var(--text-color);
}

p, label, span {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1.3vw;
}

a {
    text-decoration: none;
    font-family: var(--fira);
    color: var(--text-color);
    color: var(--background-color);
}

body {
    background-color: var(--background-color);
    max-width: 80%;
    margin: 0% 10%;
}


/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    padding: 2em;
    background-color: var(--header-color);
}

#wireframe {
    color: darkred;
    text-decoration: underline;
}

.socialmedia-links {
    display: flex;
    justify-content: space-around;
}

.socialmedia-links img{
    width: 50px;
}
/* ############# */


/* HEADER STYLES */
.logo-container {
    margin: 20px;
}

.logo-image {
    width: 180px;
}

header {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.header-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header-links a {
    font-size: 1.4em;
    color: var(--text-color);
}

.header-links a:hover {
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}
/* ############# */


/* ABOUT US HERO STYLES */

.image-hero {
    position: absolute;
    z-index: -1;
    width: 80%;
}

.hero-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

.hero-container h1{
    text-align: center;
    background-color: #759aabd3;
    color: var(--background-color);
    font-weight: 500;
    padding: 1em;
}

.hero-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1.5vw;
    background-color: #ff8a42b7;
}

.hero-article img {
    order: 1;
    justify-self: center;
    align-self: center;
    width: 30vw;
}

.hero-article p{    
    color: var(--text-color);
    font-size: 1.5vw;
    font-weight: 500;
}

/* ############# */


/* ABOUT US HISTORY STYLES */

.history-section {
    background-color: var(--header-color);
    padding: 2em 1.5em;
    color: var(--text-color);
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#history-container {
    display: grid;
    grid-auto-flow: column;
    column-gap: 4vw;
}

#history-container img{
    width: 20vw;
}

#history-container p{
    width: 20vw;
}

.history-section-title {
    color: var(--text-color);
    padding-bottom: 0.5em;
}
/* ############# */


/* ABOUT US ADVENTURE STYLES */

.adventure-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
}

.adventure-section-title {
    padding: 2em;
    color: var(--background-color);
}

.adventure-images {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
    text-align: center;
    color: var(--background-color);
}

.adventure-images img {
    width: 15em;
    padding: 10px;
}

figcaption {
    font-family: var(--roboto);
}
/* ############# */

/* CONTACT INFO STYLES */
#contact-container {
    background-color: var(--header-color);
    text-align: center;
    padding-top: 1em;
}

#contact-fieldset{
    border: 0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 1.5em;
}

#address {
    text-align: left;
    color: var(--text-color);
    border-left: 2px solid var(--text-color);
    font-weight: 600;
    padding-left: 10px;
}

#phone {
    text-align: left;
    border-left: 2px solid var(--text-color);
    padding-left: 10px;
}

#phone a{
    color: var(--text-color);
}

.gmap iframe {
    width: 20vw;
    height: 23vh;
}

/* ############# */


/* CONTACT EMPLOYEES STYLES */

#employees-container{
    text-align: center;
    padding-top: 1em;
}

#employees-fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem;
    border: 0;
}

#employees-fieldset img{
    width: 15em;
    padding: 10px;
    border-bottom: 1px solid#759aab;
}
.employee-card {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: var(--text-color);
    margin: 10px 0px;
}
.employee-card figcaption{
    text-align: center;
    color: var(--background-color);
    font-weight: 500;
    font-size: 1.3em;
    padding: 5px;
}
/* ############# */


/* CONTACT FORM STYLES */
#message-container {
    background-color: var(--text-color);
    color: var(--background-color);
}

#message-container h2 {
    color: var(--background-color);
    text-align: center;
    padding-top: 1em;
}

#message-fieldset{
    border: 0;
}

legend {
    display: none;
}

#form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2em 0;
}

#form-container div {
    font-size: 1.1em;
}

#form-first-col {
    display: flex;
    flex-flow: column wrap;
}

#form-second-col {
    display: flex;
    flex-flow: column wrap;
}

span, label {
    padding: 5px;
}

#purpose-radio-buttons {
    padding: 10px;
}

#purpose-radio-buttons div input {
    width: fit-content;
}

.radio-label {
    display: flex;
    align-items: center;
}

#message {
    height: 20vh;
}

#newsletter-checkbox {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

#submit-button {
    display: flex;
    justify-content: center;
}
#submit-button button {
    width: 9rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 1.1em;
    font-weight: 600;
}

#submit-button button:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}

/* ############# */