:root{ 
    --nav-color: rgb(70, 130, 180);
    --background-img: rgba(70, 130, 180, 0.500)
}

body{
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--nav-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--nav-color);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 20rem;
    margin: 10px;
    border: 1px solid var(--nav-color);
    border-radius: 3px;
    padding: 10px 20px;
    background-color: var(--background-img);
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    padding: 10px 0px;
    border-top: 1px solid rgb(66, 66, 66);
    text-align: center;
    background-color: var(--background-img);
}

